.panda-btn{
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
}
.bg-panda{
    background: #fceae8;
}
.categories-color1{
    background: #ffa500;
}
.categories-color2{
    background: #da70d6;
}
.categories-color3{
    background: #0000ff
}